@import './createTask.css';

body {
    flex-direction: column;
    height: 100vh;
}

main {
    background-color: #0079BF;
    height: 84%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow: auto;
    padding: 20px;
}

.task-settings {
    width: 20px;
    height: 18px;
}

.task {
    border-radius: 10px;
    background-color: #EBECF0;
    width: 282px;
    padding: 12px 0px 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100%;
    flex-shrink: 0;
    margin-right: 24px;
}

.task-header {
    width: 95%;
}

.task-content {
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    height: 100%;
}

.add-card {
    color: #5E6C84;
}

.info-tasks {
    display: flex;
    justify-content: space-around;
    width: 390px;
}

.name-task {
    background-color: #FFFFFF;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 95%;
    border-radius: 5px;
    padding: 7px;
}