* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

header, footer, .left-side, .right-side, body, .task-header, .task-settings, .task {
    display: flex;
    justify-content: space-between;
}

header, footer, .left-side, .right-side, .task-header, .task-settings, .info-tasks, .button-add {
    align-items: center;
}

body {
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 5px;
}

footer, header {
    background-color: #0067A3;
    height: 8%;
}

footer {
    color: #FFFFFF;
    padding: 17px;
}

main {
    background-color: #0079BF;
    height: 84%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow: auto;
    padding: 20px;
}

h1 {
    color: #FFFFFF;
    font-size: 28px;
    margin-left: 5px;
}

button {
    padding: 0px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

input {
    border: none;
}

span.signature {
    text-transform: uppercase;
}

.left-side, .info-tasks {
    margin-left: 13px;
}

.right-side, .info-kanban {
    margin-right: 3px;
}

.task-settings {
    width: 20px;
    height: 18px;
}

.task {
    border-radius: 10px;
    background-color: #EBECF0;
    width: 282px;
    padding: 12px 0px 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    max-height: 100%;
    flex-shrink: 0;
    margin-right: 24px;
}

.task-header {
    width: 95%;
}

.task-content {
    position: relative;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    height: 100%;
}

.active {
    color: #5E6C84;
}

.active:hover {
    color: #030405;
    cursor: pointer;
}

.disable {
    color: #99afd4;
    cursor: inherit;
}

.info-tasks {
    display: flex;
    justify-content: space-around;
    width: 390px;
}

.name-task, #input-task, #dropdown-task {
    background-color: #FFFFFF;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 95%;
    border-radius: 5px;
    padding: 7px;
    word-wrap: break-word;
}

.button-add {
    display: flex;
    justify-content: center;
    width: 181px;
    height: 33px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-right: 47px;
}

.img-button-add {
    margin-right: 13px;
    width: 22px;
    height: 22px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.button-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58px;
    height: 38px;
}

.img-button-profile {
    width: 26px;
    height: 33px;
}

.logo {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
}

.top-line-logo, .center-line-logo, .bottom-line-logo {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #FFFFFF;
    left: 18px;
}

.top-line-logo {
    top: 12px;
}

.center-line-logo {
    top: 22px;
}

.bottom-line-logo {
    top: 34px;
}

.top-line-logo::before, .center-line-logo::before, .bottom-line-logo::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    left: -10px;
    top: -3px;
}

#dropdown-task {
    background-color: #FFFFFF;
    position: relative;

    list-style: none;
}



#dropdown-task li:hover {
    background-color: #EBECF0;
    cursor: pointer;
}