input {
    position: absolute;
    top: 5px;
    margin-top: 15px;
    padding: 3px 2px;
}

.field-input {
    position: relative;
}

label {
    color: #999;
    transition: all 0.1s linear;
    position: absolute;
    top: 0;
    left: 0;
}

input:invalid+label {
    opacity: 0;
    top: 5px;
    left: 0;
}

input:valid+label {
    opacity: 1;
    top: 0;
}

input:focus+label {
    color: rgb(103, 104, 167);
}